
@{
    ViewBag.Title = "Teslimat Ve İade | Oto Yedek Parça | Çimen Oto";
    <link rel="icon" type="image/png" href="~/Content/images/logo.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white;">Teslimat Ve İade Koşullarımız</h2>


<div style="margin-top:20px; font-weight:300; color:white;">
    <pre>
    TESLİMAT VE İADE KOŞULLARI Teslimat Koşulları Kargo Süresi: Siparişleriniz, ödeme onayı alındıktan sonra 5 iş günü içerisinde kargoya verilir. Teslimat süresi, bulunduğunuz bölgeye göre değişiklik gösterebilir.<br />
    Kargo Firması: Siparişleriniz ARAS kargo firması ile gönderilmektedir. Kargo takip numaranız, siparişiniz kargoya verildiğinde tarafınıza iletilir.<br />
    Uluslararası Teslimat: Şu an için yalnızca Türkiye sınırları içinde teslimat yapılmaktadır.<br />
    Adres Bilgileri: Yanlış veya eksik adres bildirimlerinden kaynaklanan teslimat problemlerinden firmamız sorumlu değildir. Sipariş verirken adres bilgilerinizi doğru ve eksiksiz girdiğinizden emin olunuz.<br />
    İade ve Değişim Koşulları<br />
    İade Süresi: Satın aldığınız ürünleri, teslim aldığınız tarihten itibaren 1 gün içinde iade edebilirsiniz.<br />
    İade Şartları: İade edilecek ürünlerin; kullanılmamış, zarar görmemiş ve orijinal ambalajında olması gerekmektedir.<br />
    İade Süreci: İade talebinizi cimenoto80@gmail.com adresine e-posta göndererek veya müşteri hizmetlerimizle iletişime geçerek başlatabilirsiniz. Talebiniz onaylandıktan sonra, iade edilecek ürünü belirtilen adrese göndermeniz gerekmektedir.<br />
    İade Kargo Ücreti: Eğer iade sebebi hatalı veya kusurlu ürün teslimatıysa, kargo ücreti firmamız tarafından karşılanacaktır. Diğer iadelerde kargo ücreti müşteriye aittir.<br />
    Geri Ödeme Süreci: İade edilen ürünlerin kontrolü sağlandıktan sonra, geri ödeme 5 gün içinde ödeme yapılan yöntem ile tarafınıza yapılacaktır.<br />
    Değişim Koşulları: Ürün değişimi yapmak isteyen müşterilerimiz, 1 gün içinde bizimle iletişime geçerek değişim talebinde bulunabilirler.<br />
    Bu koşullar hakkında daha fazla bilgi almak için bizimle iletişime geçebilirsiniz.<br />
    İletişim:<br />
    Telefon : 0507 015 0480<br />

    E-Mail : cimenoto80@gmail.com<br />

    Adres : Osmaniye/Fakıuşağı<br />
    Saygılarımızla,<br />


    OTO ÇİMEN Ekibi...<br />

</pre>
</div>
