
@{
    ViewBag.Title = "Bize Ulaşın | Oto Yedek Parça | Çimen Oto";
    <link rel="icon" type="image/png" href="~/Content/images/logo.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="bizeUlasin">

    <p style="color:white;"> <span style="color:#FFC300;"><a href="/Home/kartListele">ÇİMEN OTO</a></span> olarak sizlere değer veriyoruz. Bizlere şu noktalardan ulaşabilirsiniz:</p>
    <h1 class="text-center" style="color:white;">İletişim Adreslerimiz</h1>
    <hr>
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6369.290250549687!2d36.22217559410591!3d37.042106938716465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152f22291e94d729%3A0xa7edb9b338d37658!2zRmFrxLF1xZ9hxJ_EsSwgODAwMTAgT3NtYW5peWUgTWVya2V6L09zbWFuaXll!5e0!3m2!1str!2str!4v1736963733687!5m2!1str!2str"
                width="100%"
                height="320"
                frameborder="0"
                style="border:0;"
                allowfullscreen
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div style="justify-content:space-evenly; margin-top:20px;" class="row text-center">
        <div class="col-4 box1 pt-4">
            <a href="tel:+905444149507">
                <i class="fa-solid fa-phone-volume fa-shake fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
                <p class="d-none d-lg-block d-xl-block">0544 414 95 07</p>
            </a>
        </div>
        <div class="col-4 box2 pt-4">
            <a href="">
                <i class="fa-solid fa-house-chimney fa-shake  fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">Address</h3>
                <p class="d-none d-lg-block d-xl-block">Osmaniye</p>
            </a>
        </div>
        @*<div class="col-4 box3 pt-4">
                <a href="mailto:emrebudak05052021@gmail.com">
                    <i class="fa-solid fa-envelope fa-shake fa-3x" style="color: #FFD43B;"></i>
                    <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
                    <p class="d-none d-lg-block d-xl-block">test@test.com</p>
                </a>
            </div>*@
    </div>
</div>

