
@{
    ViewBag.Title = "Hakkımızda | Oto Yedek Parça | Çimen Oto";
    <link rel="icon" type="image/png" href="~/Content/images/logo.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Otomobil Yedek Parçanın Tek Adresiyiz.</h4>

<div style="margin-top:20px; color:white;">

    <p>
        Hayat her zaman bir bakış açısından çok daha fazlasıdır. İhtiyaçlarınıza yönelik her türlü çözümü bulabileceğiniz çözüm ortağınız (marka adı) ile yola güvenle devam edebilirsiniz. Firmamız bünyesinde 3 ana odağımız bulunmaktadır. Memnuniyet, özgünlük ve güvenirlik çerçevesinde ilk günden bu yana sunduğumuz hizmetlerimiz ile tecrübe kazanmaya devam ediyoruz.
    </p>
    <p>
        Kurucumuz Zeki ÇİMEN tarafından 2010 yılında kurulan markamız (ÇİMEN OTO), için her şey bir fikirle başladı. Başkalarından daha özgün, daha başarılı ve daha kaliteli hizmet vermenin özünde memnuniyeti ummak yatıyor. Bu işe ilk başladığımızdan bu yana sahip olduğumuz değerleri korumak üzere hareket ediyoruz. Kurucumuzu bu işte başarılı olmaya sürükleyen ana faktör de yine müşteri memnuniyetinden başka bir şey değildi.
    </p>

    <p>
        Firmamız ile firmamız bünyesinde faaliyet gösteren tüm ekip arkadaşlarımızla birlikte günden güne büyüyen ve gelişen markamızın gelişiminde tutkumuzun rolü çok büyük. Sadece İstanbul’da başladığımız bu serüvene bugün tüm Dünya ile devam ediyoruz.
    </p>
    <p>
        Hizmetlerimiz ile değerlerimizi sunmaktan, müşterilerimizin memnuniyetini kazanmaya devam etmekten gurur duyuyoruz. Dün ve bugün olduğu gibi gelecekte de hizmetlerimizi sunmak için aynı heyecanı duyuyoruz. Hizmetlerimiz ve ürünlerimiz hakkında merak ettikleriniz, sorularınız ve yorumlarınız için iletişim kanallarımızdan bize ulaşabilirsiniz. Her bir yorumunuz bizim için çok kıymetli.
    </p>
    <p>
        Saygılarımızla,<br /><br /><br />

        OTO ÇİMEN Ekibi...
    </p>
    <a href="/Home/kartListele" class="btn btn-warning" style="color:black;z-index:1;  padding:10px;">Markete Geri Dön</a>
</div>


