
@{
    ViewBag.Title = "Mağazamız | Oto Yedek Parça | Çimen Oto";
    <link rel="icon" type="image/png" href="~/Content/images/logo.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p style="color:white;"> <span style="color:#FFC300;"><a href="/Home/kartListele">ÇİMEN OTO</a></span> olarak sizlere burada hizmet veriyoruz.</p>
</div>
<table id="magazamizTable" class="table table-striped">
    <tr>
        <td><img src="~/Content/images/magazamiz/magaza1.jpeg" alt="Alternate Text" /></td>
        <td><img src="~/Content/images/magazamiz/magaza2.jpeg" alt="Alternate Text" /></td>
    </tr>
    <tr>
        <td><img src="~/Content/images/magazamiz/magaza3.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Content/images/magazamiz/magaza4.jpg" alt="Alternate Text" /></td>
    </tr>
    <tr>
        <td><img src="~/Content/images/magazamiz/magaza3.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Content/images/magazamiz/magaza4.jpg" alt="Alternate Text" /></td>
    </tr>
    <tr>
        <td><img src="~/Content/images/magazamiz/magaza3.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Content/images/magazamiz/magaza4.jpg" alt="Alternate Text" /></td>
    </tr>
    <tr>
        <td>
            <a href="/Home/kartListele" class="btn btn-dark form-control" style="color:white; font-size:1.5vw;  ">Markete Geri Dön</a>
        </td>
        <td>
            <a href="/Home/bizeUlasin" class="btn btn-dark form-control" style="color: white; font-size: 1.5vw; ">Bize Ulaşın</a>
        </td>
    </tr>
</table>

