@using cimenOtoV11.Models
@model cimenOtoV11.Models.tbl_SiparisDurum
@{
    ViewBag.Title = "Sipariş Durum Getir | Oto Yedek Parça | Çimen Oto";
    <link rel="icon" type="image/png" href="~/Content/images/logo.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>durumGetir</h2>

@using (Html.BeginForm("guncelle", "SiparisDurum", FormMethod.Post))
{
    <div>
        <table class="table-bordered" style="color:white; width:100%;">
            <tr>
                <td>Durum İD:</td>
                <td>@Html.TextBoxFor(x => x.durumID, new { @class = "form-control", @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td>Durum:</td>
                <td>@Html.TextBoxFor(x => x.durum, new { @class = "form-control" })</td>
            </tr>
        </table>
    </div>
    <button style="color:black;" class="btn btn-success">Durum Güncelle</button>
}