@using cimenOtoV11.Models
@model List<tbl_SiparisDurum>
@{
    ViewBag.Title = "Sipariş Durumları | Oto Yedek Parça | Çimen Oto";
    <link rel="icon" type="image/png" href="~/Content/images/logo.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white;">SİPARİŞ DURUM İŞLEMLERİ</h2>
@{
    db_CimenOtoEntities db = new db_CimenOtoEntities();
    var top = db.tbl_SiparisDurum.Count();
    <h3 style="color:#ffc300;">Toplam <strong>@top</strong> kayıt bulundu.</h3>
}
<a style="margin:10px; color:black;" href="/SiparisDurum/durumEkle" class="btn btn-success">DURUM EKLE</a>
<table class="table-bordered" style="color:white; width:100%;">
    <thead>
        <tr style="background-color:white; color:black;">
            <th>Sipariş Durum ID</th>
            <th>Durum</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:#ffc300;">@item.durumID</td>
                <td>@item.durum</td>
                <td><a href="/SiparisDurum/sil/@item.durumID" class="btn btn-danger">SİL</a></td>
                <td><a href="/SiparisDurum/durumGetir/@item.durumID" class="btn btn-primary">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>

